/* Kolory bazowe */
:root {
    --color-primary: #f5480d;   /* Pomarańczowy */
    --color-dark-blue: #0f314d; /* Ciemny niebieski */
    --color-white: #fffffe;     /* Biały */
    --color-yellow: #f2f726;    /* Żółty */
    --color-white-opa: rgba(255,255,255,0.85);   /* Biały z opacity */
}

.full-screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, var(--color-dark-blue) 0%, var(--color-primary) 100%);
}

.login-container {
    display: flex;
    max-width: 1000px;
    width: 90%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
}

.login-left {
    position: relative;
    flex: 1;
    padding: 40px;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: url('/images/admin/bg-admin.webp') no-repeat center center/cover;
    background-blend-mode: overlay;
}

.login-left .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.login-left h1 {
    position: relative;
    z-index: 2;
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.login-left p {
    position: relative;
    z-index: 2;
    font-size: 1.2rem;
    margin-top: 20px;
    line-height: 1.6;
}

.login-right {
    flex: 1;
    background: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 0 8px 8px 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.login-form {
    width: 100%;
    max-width: 400px;
    background: var(--color-white);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.login-form h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-control:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 10px rgba(245, 72, 13, 0.2);
}

.form-check-input {
    margin-top: 0.3rem;
}

.form-check-label {
    margin-left: 1rem;
    font-size: 0.9rem;
}

.btn-primary {
    width: 100%;
    padding: 15px;
    background: var(--color-primary);
    color: var(--color-white);
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;
}

.btn-primary:hover {
    background: darken(var(--color-primary), 10%);
    box-shadow: 0 4px 15px rgba(245, 72, 13, 0.3);
}

.error {
    color: red;
    margin-top: 10px;
    text-align: center;
    font-size: 0.9rem;
}

.forgot-password-link {
    font-size: 0.9rem;
    color: var(--color-primary);
    text-decoration: none;
    transition: color 0.3s ease;
}

.forgot-password-link:hover {
    color: darken(var(--color-primary), 10%);
}
