/* Kolory bazowe */
:root {
    --color-primary: #00475d;   /* Primary - Niebieski */
    --color-dark: #11121d;      /* Ciemny - Prawie czarny */
    --color-light: #fee0d3;     /* Jasny - Ciepły beżowy */
    --color-white: #ffffff;     /* Biały */
    --color-secondary: #18837a; /* Secondary - Zielony */
    --color-info: #e76029;      /* Informacyjny - Pomarańczowy */
    --color-success: #00a052;   /* Sukces - Zielony */
    --color-warning: #e6c800;   /* Ostrzeżenie - Żółty */
    --color-danger: #f30017;    /* Niebezpieczeństwo - Czerwony */
    --color-white-opa: rgba(255, 255, 255, 0.85);   /* Biały z opacity */
}

/* Reset domyślnych marginesów i paddingów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styl dla ciała dokumentu */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--color-light);
    color: var(--color-dark);
}

/* Styl dla głównego kontenera pełnoekranowego */
.full-screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, var(--color-dark) 0%, var(--color-primary) 100%);
}

/* Styl dla kontenera logowania */
.login-container {
    display: flex;
    max-width: 1000px;
    width: 90%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
}

/* Sekcja po lewej stronie ekranu logowania */
.login-left {
    position: relative;
    flex: 1;
    padding: 40px;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: url('/images/admin/bg-admin.webp') no-repeat center center/cover;
    background-blend-mode: overlay;
}

.login-left .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.login-left h1 {
    position: relative;
    z-index: 2;
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.login-left p {
    position: relative;
    z-index: 2;
    font-size: 1.2rem;
    margin-top: 20px;
    line-height: 1.6;
}

/* Sekcja po prawej stronie ekranu logowania */
.login-right {
    flex: 1;
    background: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 0 8px 8px 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Formularz logowania */
.login-form {
    width: 100%;
    max-width: 400px;
    background: var(--color-white);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.login-form h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-control:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 10px rgba(0, 71, 93, 0.2);
}

.form-check-input {
    margin-top: 0.3rem;
}

.form-check-label {
    margin-left: 1rem;
    font-size: 0.9rem;
}

.btn-primary {
    width: 100%;
    padding: 15px;
    background: var(--color-primary);
    color: var(--color-white);
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;
}

.btn-primary:hover {
    background: #003a4d;
    box-shadow: 0 4px 15px rgba(0, 71, 93, 0.3);
}

.error {
    color: var(--color-danger);
    margin-top: 10px;
    text-align: center;
    font-size: 0.9rem;
}

.forgot-password-link {
    font-size: 0.9rem;
    color: var(--color-primary);
    text-decoration: none;
    transition: color 0.3s ease;
}

.forgot-password-link:hover {
    color: #003a4d;
}

/* Sidebar w panelu admina */
.sidebar {
    background-color: var(--color-dark);
    color: var(--color-white);
    height: 100vh;
    padding: 20px;
}

.sidebar .nav-link {
    color: var(--color-white-opa);
    padding: 10px 20px;
    display: block;
    border-radius: 4px;
    transition: background 0.3s ease;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    background-color: var(--color-primary);
    color: var(--color-white);
}

/* Główna zawartość */
.main-content {
    padding: 30px;
    background-color: var(--color-white);
}

.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.admin-info h2 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-primary);
}

.progress {
    margin-bottom: 10px;
}

.progress-bar {
    font-size: 0.85rem;
    line-height: 1.5;
}

/* Tabela w panelu admina */
.table {
    background-color: var(--color-white);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table th, .table td {
    border-top: none;
}

/* Footer */
.footer {
    background-color: var(--color-dark);
    color: var(--color-white);
    padding: 20px;
    text-align: center;
}
