/* Kolory bazowe */
:root {
    --color-primary: #00475d;   /* Primary - Niebieski */
    --color-dark: #11121d;      /* Ciemny - Prawie czarny */
    --color-light: #fee0d3;     /* Jasny - Ciepły beżowy */
    --color-white: #ffffff;     /* Biały */
    --color-secondary: #18837a; /* Secondary - Zielony */
    --color-info: #e76029;      /* Informacyjny - Pomarańczowy */
    --color-success: #00a052;   /* Sukces - Zielony */
    --color-warning: #e6c800;   /* Ostrzeżenie - Żółty */
    --color-danger: #f30017;    /* Niebezpieczeństwo - Czerwony */
    --color-white-opa: rgba(255, 255, 255, 0.85);   /* Biały z opacity */
}

/* Styl dla logo sidebar */
.logo-sidebar{
    max-width: 85%;
    margin: 0 auto;
}

/* Sidebar w panelu admina */
.sidebar {
    background-color: var(--color-dark);
    color: var(--color-white);
    height: 100vh;
    padding: 20px;
    width: 255px;
    
}

.sidebar .nav-link {
    color: var(--color-white-opa);
    padding: 10px 20px;
    display: block;
    border-radius: 4px;
    transition: background 0.3s ease;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    background-color: var(--color-primary);
    color: var(--color-white);
}

/* Główna zawartość */
main {
    width: 100%;
    background-color: var(--color-white);
    background: url(/images/seobg.jpg) no-repeat center center;
    background-size: cover;
}

.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.admin-info h2 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-primary);
}

.progress {
    margin-bottom: 10px;
}

.progress-bar {
    font-size: 0.85rem;
    line-height: 1.5;
}

/* Tabela w panelu admina */
.table {
    background-color: var(--color-white);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table th, .table td {
    border-top: none;
}

/* Footer */
.footer {
    background-color: var(--color-dark);
    color: var(--color-white);
    padding: 20px;
    text-align: center;
}

.hamburger{
    color: var(--color-light);
}

main.content-section div.container{
    max-height: calc(100vh - 80px);
    overflow-y: auto;
}